<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">

<!-- Ionicons -->
<link rel="stylesheet" href="/static/plugins/Ionicons/css/ionicons.min.css">

<!-- Theme style -->
<link rel="stylesheet" href="/static/plugins/adminlte/css/AdminLTE.css">
<link rel="stylesheet" href="/static/plugins/adminlte/css/skins/_all-skins.min.css">

<!-- link rel="stylesheet" href="/static/plugins/layui-v2.2.5/css/layui.css" -->

<!-- 下拉插件 -->
<link rel="stylesheet" href="/static/plugins/bootstrap-select/css/bootstrap-select.min.css">

<!-- switch -->
<link rel="stylesheet" href="/static/plugins/bootstrap-switch/css/bootstrap-switch.min.css">

<!-- 自定义主题 -->
<link rel="stylesheet" href="/static/sdtheme/css/sdtheme.css">

<!-- nprogress -->
<link rel="stylesheet" href="/static/plugins/nprogress/nprogress.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="/static/plugins/html5shiv.min.js"></script>
<script src="/static/plugins/respond.min.js"></script>
<![endif]-->