<!-- jQuery 3 -->
<script src="/static/plugins/jquery.min.js"></script>

<!-- Bootstrap 3.3.7 -->
<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- AdminLTE App -->
<script src="/static/plugins/adminlte/js/adminlte.js"></script>
<script src="/static/plugins/adminlte/js/demo.js"></script>

<!-- 弹出层插件layer -->
<script src="/static/plugins/layer-v3.1.1/layer.js"></script>

<!-- Ajax请求插件 -->
<script src="/static/plugins/jquery-sdajax/jquery.sdajax.min.js"></script>

<!-- cookie plugins -->
<script src="/static/plugins/jquery.cookie.min.js"></script>

<!-- 下拉列表插件 -->
<script src="/static/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/static/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js" type="text/javascript"></script>

<!-- switch  -->
<script src="/static/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>

<!-- 当前主题初始化 -->
<script src="/static/sdtheme/scripts/sdtheme.js"></script>

<!-- nprogress -->
<script src="/static/plugins/nprogress/nprogress.js"></script>

<!-- 当前产品初始化 -->
<script src="/static/product/scripts/rms.js"></script>

<script>
    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, // 月份
            "d+": this.getDate(), // 日
            "h+": this.getHours(), // 小时
            "m+": this.getMinutes(), // 分
            "s+": this.getSeconds(), // 秒
            "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
            "S": this.getMilliseconds() // 毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + ""));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>

