<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <input type="hidden" name="Content" id="Content">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>标题</label>
                <input class="form-control" id="title" name="Title" value="{{.m.Title}}" placeholder="请输入标题">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>封面图片</label>
                <div class="form-group">
                    <input type="text" style="width: 300px;" class="form-control pull-left" name="Image" id="Image" value="{{.m.Image}}">
                    <div>
                        <span class="btn btn-file btn-default">
                            <span class="fileinput-new"> 选择图片 </span>
                            <input name="fileLogo" id="inputImage" type="file">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Type">文章类型</label>
                <select id="Type" class="form-control bs-select" name="Type">
                    <option value="0">单页</option>
                    <option value="1">列表页</option>
                    <option value="2">广告</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Status">状态</label>
                <select id="Status" class="form-control bs-select" name="Status">
                    <option value="0">禁用</option>
                    <option value="1">启用</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>排序</label>
                <input type="text" name="ListOrder" class="form-control" value="{{.m.ListOrder}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>外部链接</label>
                <input type="text" name="Url" class="form-control" value="{{.m.Url}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>内容</label>
                <div class="summernote" data-name="Content" placeholder="请输入内容" action="{{urlfor "AttachmentController.UploadMinio"}}">{{.m.Content | str2html}}</div>
            </div>
        </div>
    </div>
</form>