<section class="content-header">
    <h1>
        {{.pageTitle}}
        <small>{{.pageTitle}}</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{urlfor "HomeController.Index"}}">
                <i class="fa fa-dashboard"></i> 首页
            </a>
        </li>
        <li class="active">{{.pageTitle}}</li>
    </ol>
</section>

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form id="searchForm" class="searchForm">
                <div class="box box-solid collapsed-box">
                    <div class="box-header with-border">
                        <input type="text" name="Title" id="Title" class="form-control pull-left input-wd-md" placeholder="文章标题">
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning" id="btnSearch"><i class="fa fa-search"></i> 搜索</button>
                            <button type="button" class="btn btn-default" id="btnClearSearch"><i class="fa fa-eraser"></i> 清除</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="box box-solid">
                <div class="box-body">
                    <div class="btn-group" id="toolbar">
                    {{ if .canEdit}}
                        <button class="btn btn-info" href="javascript:;" onclick="EditFun(0)">
                            <i class="fa fa-plus"></i> 添加</button>
                    {{end}}

                    {{ if .canDelete}}
                        <button class="btn btn-danger table-btn-check-enable" disabled onclick="DeleteFun()">
                            <i class="fa fa-trash"></i> 删除
                        </button>
                    {{end}}
                    </div>

                    <table id="dataGrid"></table>
                </div>
            </div>
        </div>
    </div>
</section>