<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>通知类型</label>
                <select id="CategoryId" name="CategoryId" class="form-control">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>标题</label>
                <input type="text" id="Title" class="form-control" name="Title" value="{{.m.Title}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>摘要</label>
                <textarea class="form-control" id="Summary" name="Summary" placeholder="摘要">{{.m.Summary}}</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>消息内容</label>
                <textarea id="Content" class="form-control" name="Content">{{.m.Content}}</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>是否定时发布</label>
            <select id="IfSchedule" name="IfSchedule" class="form-control">
                <option value="0">否</option>
                <option value="1">是</option>
            </select>
        </div>
    </div>
</form>