<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>栏目名称</label>
                <input type="text" name="CategoryName" class="form-control" value="{{.m.CategoryName}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>排序</label>
                <input type="text" id="ListOrder" class="form-control" name="ListOrder" value="{{.m.ListOrder}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" style="margin-top: 15px;">
                <label>封面图片</label>
                <div class="form-group">
                    <input type="text" style="width: 300px;" class="form-control pull-left" name="Thumb" id="Thumb" value="{{.m.Thumb}}">
                    <div>
                        <span class="btn btn-file btn-default">
                            <span class="fileinput-new"> 选择图片 </span>
                            <input name="fileThumb" id="inputThumb" type="file">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>