<!-- 验证插件 -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/localization/messages_zh.min.js"></script>
<!-- 针对当前主题进行简单封装，精简代码 -->
<script src="/static/sdtheme/scripts/sdvalidate.js"></script>

<script src="/static/plugins/ajaxfileupload.js"></script>
<script src="/static/plugins/bootstrap-fileinput-jasny/bootstrap-fileinput.js"></script>

<script>
    var index = parent.layer.getFrameIndex(window.name);

    $(function () {
        pageInit()
       initUpload()
    });

    function pageInit() {
        validateInfo()
    }

    function initUpload() {
        $('.btn-file').on('change.bs.fileinput', function () {
            var fileInput = $('input[type="file"]', this);
            console.log(fileInput)
            var inputId = fileInput.attr('id');
            console.info(inputId)
            var hiddenInput = $('#' + inputId.replace('input', ''));

            $.ajaxFileUpload({
                url: '{{urlfor "AttachmentController.UploadMinio"}}',
                secureuri: false,
                fileElementId: inputId,
                dataType: 'json',
                data: {
                    keyword: fileInput.attr('name')
                },
                complete: function () {

                },
                success: function (res, status) {
                    if (res.code === 0) {
                        hiddenInput.val(res.obj);
                    } else {
                        parent.layer.alert(res.msg, {icon: 2, title: '错误'})
                        hiddenInput.val('')
                    }
                },
                error: function (XHR, status, e) {
                    sdtheme.alertXHRError(XHR);
                    hiddenInput.val('')
                }
            });
        })
    }
    //
    function CategorySelectInit(selected) {
        var url = '{{urlfor "ArticleCategoryController.DataList"}}';
        var $select = $('#CategoryId');
        $select.html('');

        $.sdpost(url, {}, function (res) {
            if (res.code === 0) {
                var html = [];
                $(res.obj).each(function (i, e) {
                    html.push('<option value="' + e.Id + '">' + e.Name + '</option>')
                });
                $select.html(html.join(''));

                $select.selectpicker({liveSearch: true});
                $select.selectpicker('val', selected)
            } else {
                layer.alert("获取数据失败", {icon: 2, title: '失败'});
            }
        })
    }

    function validateInfo() {
        var $thisForm = $('#thisForm');
        $thisForm.sdvalidate({
            rules: {
                Title: {
                    required: true
                }
            },
            submitHandler: function (form) {
                var url = '{{urlfor "ArticleCategoryController.Edit"}}';
                var params = $thisForm.serialize();
                $.sdpost(url, params, function (res) {
                    if (res.code === 0) {
                        parent.layer.msg(res.msg)
                        parent.refresh(res.obj)
                        parent.layer.close(index)
                    } else {
                        parent.layer.alert(res.msg, {icon: 2, title: '失败'})
                    }
                });
                return false
            }
        });
    }

    function FormSubmit() {
        $('#thisForm').submit()
    }
</script>