<div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h3 class="login-box-msg">{{.siteApp}} - {{.siteName}}</h3>
        <p class="login-box-msg"> version: {{.siteVersion}}</p>
        <div class="clearfix"></div>

        <form id="thisForm">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="UserName" placeholder="用户名">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="Password" placeholder="密码">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <!--<div class="checkbox icheck">
                      <label>
                        <input type="checkbox"> 记住密码
                      </label>
                    </div>-->
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
            <!--<p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
              Facebook</a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
              Google+</a>-->
        </div>

        <!-- /.social-auth-links -->
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

