<script>
    //判断当前页面是否在iframe里打开的
    if (parent && parent != window) {
        parent.window.location.href = window.location.href;
    }
</script>

<!-- iCheck -->
<link rel="stylesheet" href="/static/plugins/icheck/skins/square/blue.css">

<style>
    body {
        background: url("/static/sdtheme/img/login_img.jpg") no-repeat ;
        background-size: 100% 100%;
        -moz-background-size:100% 100%;
        /*background:url("/static/sdtheme/img/login_img.jpg")no-repeat;*/
        /*width:100%;   fixed 0 0   */
        /*height:100%;*/
        /*background-size:100% 100%;*/
        /*position:absolute;*/
        /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"/static/sdtheme/img/login_img.jpg"',sizingMethod='scale');*/
    }

    .login-box{
        margin: 10% auto;
    }

    /*.login-box-body, .register-box-body{*/
    /*background-color: rgba(31, 88, 69, 0.8);*/
    /*box-shadow: 10px 5px 70px #0d957a;*/
    /*border: 1px solid #0d957a;*/
    /*}*/

    .login-box-body, .register-box-body{
        background-color: #1a529133;
        box-shadow: 10px 5px 70px #00c0ef;
        border: 1px solid #00c0ef;
    }

    .login-box-body p{
        float: right;
    }

    .login-box-msg, .register-box-msg{
        color: #fff;
    }
</style>