<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <input type="hidden" name="Content" id="Content">
    <div class="col-md-12">
        <div class="form-group">
            <label>文章标题</label>
            <input type="text" id="Title" name="Title" class="form-control" placeholder="长度不超过150" value="{{.m.Title}}">
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <label>课程内容</label>
            <div class="summernote" data-name="Content" placeholder="请输入文章内容" action="{{urlfor "AttachmentController.UploadMinio"}}">{{.m.Content | str2html}}</div>
        </div>
    </div>
</form>