<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <input type="hidden" id="CourseContentId" name="CourseContentId" value="">
    <input type="hidden" name="Content" id="Content">
    <div class="col-md-12">
        <div class="form-group">
            <label>课程名称</label>
            <input type="text" id="Title" name="Title" class="form-control" placeholder="长度不超过150" value="{{.m.CourseName}}">
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <label>课程文章内容</label>
            <input type="text" class="form-control" id="typeahead" data-provide="typeahead" autocomplete="off">
        </div>
    </div>
</form>