<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <input type="hidden" name="UserId" value="{{.m.UserId}}">
    <input type="hidden" name="UpdateAgeAt" value="{{.m.UpdateAgeAt}}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>学生姓名</label>
                <input type="text" class="form-control" name="StudentName" value="{{.m.StudentName}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>学生昵称</label>
                <input type="text" class="form-control" name="Nickname" value="{{.m.Nickname}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>所在地</label>
                <input type="text" class="form-control" name="Address" value="{{.m.Address}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>联系人</label>
                <input type="text" name="Contact" value="{{.m.Contact}}" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>联系方式</label>
                <input type="text" name="ContactNo" value="{{.m.ContactNo}}" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>年龄</label>
                <input type="text" name="Age" value="{{.m.Age}}" class="form-control">
            </div>
        </div>
    </div>
</form>