{{template "shared/bootstrap_table_js.html"}}

<script>
    var $dataGrid = $('#dataGrid');
    var $searchForm = $('#searchForm');

    var highlightPk = null;

    $(function () {
        pageInit()
    })

    function pageInit() {
        sdtheme.loadSearchText('studentSearchForm');
        dataGridInit();

        $('#btnSearch').on('click', function () {
            refreshToFirstPage()
        });

        $('#btnClearSearch').on('click', function (e) {
            $('select', $searchForm).selectpicker('val', '');
            $('input', $searchForm).val('');
            refreshToFirstPage();
        })

        //绑定加载成功的事件，成功后高亮显示当前项
        $dataGrid.on('load-success.bs.table', function () {
            if (highlightPk !== null && typeof highlightPk !== 'undefined') {
                sdtheme.highlight($dataGrid.find('tbody tr[data-pk="' + highlightPk + '"]'));
            }
            //高亮显示一次后失效
            highlightPk = null;
        });
        //保持搜索条件面板状态
        sdtheme.searchPanelStatusInit('searchpanelbtn');
    }

    function refresh(pk) {
        $dataGrid.bootstrapTable('refresh');
        highlightPk = pk;
    }

    function refreshToFirstPage() {
        sdtheme.saveSearchText('studentSearchForm');
        $dataGrid.bootstrapTable('refresh', {pageNumber: 1});
        $.cookie('dataGrid.bs.table.pageNumber', 1, {expires: 1});
    }

    function dataGridInit() {
        $dataGrid.bootstrapTable({
            url: '{{urlfor "StudentController.DataGrid"}}',
            method: 'post',
            sidePagination: 'server',
            idField: 'Id',
            queryParamsType: 'limit',
            queryParams: function (params) {
                params.StudentName = $.trim($('.searchForm input[name="StudentName"]').val());
                return params
            },
            pagination: true,
            showRefresh: true,
            showColumns: true,
            toolbar: '#toolbar',
            pageSize: 10,
            pageList: [5, 10, 20, 100, 200],
            paginationShowPageGo: true,//20170812 lht 扩展select跳转
            paginationUseBSSelect: true,//20170812 lht 扩展select跳转 启用BoostrapSelect(页面须引用botstrap-select.min.js)
            cookie: true,
            classes: 'table table-bordered table-hover',
            undefinedText: '',
            sortName: 'Id',
            sortOrder: 'desc',
            stickyHeader: true,
            resizable: true,

            rowAttributes: function (row, index) {
                return {'data-pk': row.Id}
            },
            columns: [{
                field: 'state',
                checkbox: true,
                radio: false
            }, {
                field: 'Id',
                title: 'ID',
                width: '80px',
                align: 'center',
                sortable: true
            }, {
                field: 'StudentName',
                title: '学生姓名',
                align: 'center'
            }, {
                field: 'Nickname',
                title: '昵称',
                align: 'center'
            }, {
                field: 'Contact',
                title: '联系人'
            }, {
                field: 'ContactNo',
                title: '联系号码'
            }, {
                field: 'Age',
                title: '年龄'
            }, {
                field: 'operator',
                title: '操作',
                align: 'center',
                width: '250px',
                visible: function () {
                    return ('{{.canEdit}}' === 'true')
                },
                formatter: function (value, row, index) {
                    var html = [];
                    html.push('<div class="btn-group">');
                    if ('{{.canEdit}}' === 'true') {
                        html.push('    <button class="btn btn-primary btn-xs" onclick="EditFun(' + row.Id + ')"><i class="fa fa-pencil"></i> 编辑</button>');
                    }
                    if ('{{.canDelete}}' === 'true') {
                        html.push('    <button class="btn btn-danger btn-xs" onclick="DeleteFun(' + row.Id + ')"><i class="fa fa-trash"></i> 删除</button>')
                    }
                    html.push('</div>');
                    return html.join('');
                }
            }],
            onLoadSuccess: function (data) {
                layer.closeAll('loading')
            },
            onSort: function (name, order) {

            },
            onCheckAll: function (rows) {
                $(".table-btn-check-enable").removeAttr("disabled")
            },
            onCheck: function (rows) {
                $(".table-btn-check-enable").removeAttr('disabled');
            },
            onUncheck: function (rows) {
                if ($("#dataGrid").bootstrapTable("getSelections").length === 0) {
                    $(".table-btn-check-enable").attr('disabled', 'disabled');
                }
            },
            onUncheckAll: function () {
                //禁用删除需要勾选才能用的按钮
                if ($("#dataGrid").bootstrapTable("getSelections").length === 0) {
                    $(".table-btn-check-enable").attr('disabled', 'disabled');
                }
            },
            onLoadError: function (status) {
                layer.alert('获取数据失败,错误代码：' + status);
            }
        })
    }

    function EditFun(Id) {
        var title = "添加学籍卡";
        if (Id > 0) {
            title = '编辑学籍卡';
        }
        var url = '{{ urlfor "StudentController.Edit"}}' + '/' + Id;
        layer.open({
            type: 2,
            title: title,
            shadeClose: false,
            shade: 0.2,
            maxmin: true,
            shift: 1,
            area: ['1000px', '600px'],
            content: url,
            btn: ['保存', '关闭'],
            yes: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.FormSubmit();
            }
        });
    }

    function DeleteFun() {
        var url = '{{urlfor "StudentController.Delete"}}';
        var rows = $dataGrid.bootstrapTable('getSelections');
        if (rows.length === 0) {
            layer.alert("请选择要删除的项", {icon: 0, title: '提示'});
            return;
        }
        var ids = [];
        $(rows).each(function (i, e) {
            ids.push(e.Id)
        });

        layer.confirm('您是否要删除所选的项？', {
            btn: ['是', '否'],
            icon: 3,
            title: '请确认'
        }, function () {
            var params = {ids: ids.join(',')};
            $.sdpost(url, params, function (res) {
                if (res.code === 0) {
                    layer.msg(res.msg, {icon: 1, title: '成功'});
                    refresh();
                } else {
                    layer.alert(res.msg, {icon: 2, title: '失败'})
                }
            })
        })
    }
</script>