<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>课程名称</label>
                <input type="text" name="CourseName" class="form-control" placeholder="长度不超过24" value="{{.m.CourseName}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>上课地址</label>
                <input type="text" id="Address" readonly name="Address" class="form-control" placeholder="" value="{{.m.Address}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>经度</label>
                <input type="text" class="form-control" id="Lng" name="Lng" readonly value="{{.m.Lng}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>纬度</label>
                <input type="text" class="form-control" id="Lat" name="Lat" readonly value="{{.m.Lat}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group searchForm">
                <label>输入地址</label>
                <input type="text" id="searchAddress" class="form-control pull-left input-wd-md" name="AddressName" value="{{.m.AddressName}}">
                <div class="btn-group">
                    <button type="button" class="btn btn-warning" id="btnSearch"><i class="fa fa-search"></i> 搜索</button>
                    <button type="button" class="btn btn-default" id="btnClearSearch"><i class="fa fa-eraser"></i> 清除</button>
                </div>
            </div>

            <div id="container" class="map-container" style="height: 300px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" style="margin-top: 15px;">
                <label>列表Logo</label>
                <div class="form-group">
                    <input type="text" style="width: 300px;" class="form-control pull-left" name="Logo" id="Logo" value="{{.m.Logo}}">
                    <div>
                        <span class="btn btn-file btn-default">
                            <span class="fileinput-new"> 选择图片 </span>
                            <input name="fileLogo" id="inputLogo" type="file">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" style="margin-top: 15px;">
                <label>背景图</label>
                <div class="form-group">
                    <input type="text" style="width: 300px;" class="form-control pull-left" name="Background" id="Background" value="{{.m.Background}}">
                    <div>
                        <span class="btn btn-file btn-default">
                            <span class="fileinput-new"> 选择图片 </span>
                            <input name="fileBackground" id="inputBackground" type="file">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>状态</label>
                <select name="Status" id="Status" class="form-control bs-select">
                    <option value="1">启用</option>
                    <option value="0">禁用</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>首页推荐</label>
                <select name="IsRecommend" id="IsRecommend" class="form-control bs-select">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>开课时间</label>
                <input name="StartTime" id="StartTime" class="form-control" value="{{.m.StartTime}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>上课时长（分钟）</label>
                <input name="CourseDuration" id="CourseDuration" class="form-control" value="{{.m.CourseDuration}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="DeadLine">报名截止时间</label>
                <input id="DeadLine" name="DeadLine" type="text" value="{{.m.DeadLine}}" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="ContactNumber">联系电话</label>
                <input id="ContactNumber" type="text" name="ContactNumber" value="{{.m.ContactNumber}}" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>开课时间</label>
                <input name="LessonTime" id="LessonTime" class="form-control" value="{{.m.LessonTime}}">
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>需点赞次数</label>
                <input name="SupportTimes" id="SupportTimes" class="form-control" value="{{.m.SupportTimes}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>申请失效的天数</label>
                <input name="Expire" id="Expire" class="form-control" value="{{.m.Expire}}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>课程简介</label>
                <textarea class="form-control" id="CourseDescription" name="CourseDescription" value="{{.m.CourseDescription}}"></textarea>
            </div>
        </div>
    </div>
</form>