{{template "shared/bootstrap_table_js.html"}}

<script>
    var $dataGrid = $('#dataGrid');
    var $searchForm = $('#searchForm');

    //高亮显示
    var highlightPk = null;

    $(function () {
        pageInit()
    });

    function pageInit() {
        sdtheme.loadSearchText('courseSearchForm');

        dataGridInit()

        $('#btnSearch').on('click', function (e) {
            refreshToFirstPage()
        });

        $('#btnClearSearch').on('click', function (e) {
            $('select', $searchForm).selectpicker('val', '');
            $('input', $searchForm).val('');
            refreshToFirstPage()
        });

        //绑定加载成功的事件，成功后高亮显示当前项
        $dataGrid.on('load-success.bs.table', function () {
            if (highlightPk !== null && typeof highlightPk !== 'undefined') {
                sdtheme.highlight($dataGrid.find('tbody tr[data-pk="' + highlightPk + '"]'));
            }
            //高亮显示一次后失效
            highlightPk = null;
        });
        //保持搜索条件面板状态
        sdtheme.searchPanelStatusInit('searchpanelbtn');
    }

    function refresh(pk) {
        $dataGrid.bootstrapTable('refresh');
        highlightPk = pk;
    }

    function refreshToFirstPage() {
        //表格刷新时，保存查询条件到cookie
        sdtheme.saveSearchText('courseSearchForm');
        //刷新并跳转至第1页
        $dataGrid.bootstrapTable('refresh', {pageNumber: 1});
        //同时要更新cookie里保存当前页码
        $.cookie('dataGrid.bs.table.pageNumber', 1, {expires: 1});
    }

    function dataGridInit() {
        $dataGrid.bootstrapTable({
            url: '{{urlfor "CourseController.DataGrid"}}',
            method: 'post',
            sidePagination: 'server',
            idField: 'Id',
            queryParamsType: 'limit',
            queryParams: function (params) {
                params.CourseName = $.trim($('.searchForm input[name="CourseName"]').val());
                return params
            },
            pagination: true,
            showRefresh: true,
            showColumns: true,
            toolbar: '#toolbar',
            pageSize: 10,
            pageList: [5, 10, 20, 100, 200],
            paginationShowPageGo: true,//20170812 lht 扩展select跳转
            paginationUseBSSelect: true,//20170812 lht 扩展select跳转 启用BoostrapSelect(页面须引用botstrap-select.min.js)
            cookie: true,
            classes: 'table table-bordered table-hover',
            undefinedText: '',
            sortName: 'Id',
            sortOrder: 'desc',
            stickyHeader: true,
            resizable: true,

            rowAttributes: function (row, index) {
                return {'data-pk': row.Id}
            },
            columns: [{
                field: 'state',
                checkbox: true,
                radio: false
            }, {
                field: 'Id',
                title: 'ID',
                width: '80px',
                align: 'center',
                sortable: true
            }, {
                field: 'CourseName',
                title: '课程名称',
                align: 'center'
            }, {
                field: 'ViewNumbers',
                title: '围观人数',
                align: 'center',
                width: '80px'
            }, {
                field: 'Status',
                title: '状态',
                formatter: sdtheme.showEnable,
                align: 'center',
                width: '120px'
            }, {
                field: 'CourseDuration',
                title: '上课时长',
                align: 'center',
                width: '80px'
            }, {
                field: 'CreateAt',
                title: '添加时间',
                align: 'center',
                formatter: function (value, row, index) {
                    if (value > 0) {
                        return new Date(value * 1000).format('yyyy-MM-dd hh:mm:ss')
                    }
                    return '';
                }
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                width: '250px',
                visible: function () {
                     return ('{{.canEdit}}' === 'true')
                },
                formatter: function (value, row, index) {
                    var html = [];
                    html.push('<div class="btn-group">');
                    if ('{{.canCreateTab}}' === 'true') {
                        html.push('<button class="btn btn-success btn-xs" onclick="CreateTab(' + row.Id + ')">' +
                                '<i class="fa fa-cab"></i> 设置标签</button>')
                    }
                    if ('{{.canEdit}}' === 'true') {
                        html.push('<button class="btn btn-primary btn-xs" onclick="EditFun(' + row.Id + ')">' +
                                '<i class="fa fa-pencil"></i> 编辑</button>');
                    }
                    if ('{{.canMatch}}' === 'true') {
                        html.push('<button class="btn btn-warning btn-xs" onclick="MatchArticle(' + row.Id + ')">' + '<i class="fa fa-wrench"> 关联文章</i></button>')
                    }
                    html.push('</div>');
                    return html.join('');
                }
            }],
            onLoadSuccess: function (data) {
                layer.closeAll('loading')
            },
            onSort: function (name, order) {

            },
            onCheckAll: function (rows) {
                $(".table-btn-check-enable").removeAttr("disabled")
            },
            onCheck: function (rows) {
                $(".table-btn-check-enable").removeAttr('disabled');
            },
            onUncheck: function (rows) {
                if ($("#dataGrid").bootstrapTable("getSelections").length === 0) {
                    $(".table-btn-check-enable").attr('disabled', 'disabled');
                }
            },
            onUncheckAll: function () {
                //禁用删除需要勾选才能用的按钮
                if ($("#dataGrid").bootstrapTable("getSelections").length === 0) {
                    $(".table-btn-check-enable").attr('disabled', 'disabled');
                }
            },
            onLoadError: function (status) {
                layer.alert('获取数据失败,错误代码：' + status);
            }
        });
    }

    function EditFun(Id) {
        var title = "添加课程";
        if (Id > 0) {
            title = '编辑课程';
        }
        var url = '{{ urlfor "CourseController.Edit"}}' + '/' + Id;
        layer.open({
            type: 2,
            title: title,
            shadeClose: false,
            shade: 0.2,
            maxmin: true,
            shift: 1,
            area: ['1000px', '600px'],
            content: url,
            btn: ['保存', '关闭'],
            yes: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.FormSubmit();
            }
        });
    }

    function CreateTab(Id) {
        var title = "设置标签";
        var url = '{{urlfor "CourseController.SettingTab"}}' + '/' + Id;
        layer.open({
            type: 2,
            title: title,
            shadeClose: false,
            shade: 0.2,
            maxmin: true,
            shift: 1,
            area: ['1000px', '600px'],
            content: url,
            btn: ['保存', '关闭'],
            yes: function (index, layerno) {
                var iframeWin = window[layerno.find('iframe')[0]['name']];
                iframeWin.FormSubmit();
            }
        });
    }

    function MatchArticle(Id) {
        var title = '关联课程文章';
        var url = '{{urlfor "CourseContentController.Match"}}/' + Id;
        layer.open({
            type: 2,
            title: title,
            shadeClose: false,
            shade: 0.2,
            maxmin: true,
            shift: 1,
            area: ['1000px', '400px'],
            content: url,
            btn: ['保存', '关闭'],
            yes: function (index, layer_no) {
                var iframeWin = window[layer_no.find('iframe')[0]['name']];
                iframeWin.FormSubmit();
            }
        });
    }

    function DeleteFun() {
        var url = '{{ urlfor "CourseController.Delete"}}';
        var rows = $dataGrid.bootstrapTable("getSelections");
        if (rows.length === 0) {
            layer.alert('请选择想要删除的项', {icon: 0, title: '提示'});
            return;
        }

        var ids = [];
        $(rows).each(function (i, e) {
            ids.push(e.Id);
        });

        layer.confirm('您是否要删除所选的项？', {
            btn: ['是', '否'], icon: 3, title: '请确认'
        }, function () {
            var params = {ids:ids.join(',')};
            $.sdpost(url, params, function (re) {
                if (re.code == 0) {
                    layer.msg(re.msg, {icon: 1, title: '成功'});
                    refresh();
                } else {
                    layer.alert(re.msg, {icon: 2, title: "失败"});
                }
            });
        });
    }
</script>